<%= form_for([@post, @post.comments.build]) do |f| %> 
  <p>
    <%= f.text_field :name, placeholder: "Insert Name" %>
  </p>
  <p>
    <%= f.text_area :body, placeholder: "Insert your comment"  %>
  </p>

  <p>
    <%= f.submit "Submit comment" %>
  </p>

<% end %>