<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %> 
  </div>

  <div id="content">
    <h1>It,s Mr Miguel Soler.</h1>
    <p>Web development with competences focused in innovation, productivity and strategic planning. I have the facility and provision to learn new skills and adapt to the organizational culture of my work environment. I like everything that has to do with web design and development, social media and I feel a true devotion to read and for the continuous learning, offering new solutions, being proactive with the functions in my role. I am ready to take new challenges on, meet new countries and work with people and teams who share my same passion or have big projects to do.</p>
  </div>
</div>